<ngx-loading-bar [includeSpinner]="false" [color]="'red'"></ngx-loading-bar>
<nav class=" navbar navbar-expand-lg navbar navbar-dark bg-dark justify-content-between">
  <div class="container-fluid col">
    <a class="navbar-brand" routerLink="">News Portal - HaMel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left:25%">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink=""> Newest </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="entertainment"> Entertainment </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="health" style="color:red"> Health and Corona Virus </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="mt-3">
  <p class="text-center">Project done by Hanjalic Haris and Sacic Mela</p>
</footer>